DOMAIN_NAME=your-server-ip-or-domain

MARIA_DATABASE=wordpress
MARIA_ROOT_PASSWORD=change_me
MARIA_USER=user
MARIA_PASSWORD=change_me

WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=change_me
WORDPRESS_URL=https://${DOMAIN_NAME}
WORDPRESS_ADMIN_EMAIL=admin@example.com

WORDPRESS_USER1_NAME=user2
WORDPRESS_USER1_PASSWORD=change_me
WORDPRESS_USER1_EMAIL=user1@email.com
